@import "tailwindcss";

body {
  background: #0f172a;
  color: #e2e8f0;
  font-family: system-ui, sans-serif;
  user-select: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
